*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
    width: 50%;
    min-height: 75vh;
    height: 50%;
    background-image: "C:\Users\rmnxq\Downloads\F2yu3BvWYAEeusM.jpg";
    padding: auto;
}